<template>
  <div>
    <div class="row q-pa-md">
      <div class="row col-xs-12 col-sm-12 col-md-12 flex flex-center q-gutter-md">
        <div class="col-xs-12 col-sm-12 col-md-12 flex flex-center">
          <q-btn flat round @click="back()" icon="arrow_back_ios" />
          <span style="font-size:22px;padding:15px">สร้างบัญชี</span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 flex flex-center">
          <q-input
            v-model="username"
            type="email"
            outlined
            label="username"
            style="min-width:300px;"
          />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 flex flex-center">
          <q-input
            v-model="password"
            label="password"
            filled
            :type="isPwd ? 'password' : 'text'"
            hint="Password with toggle"
            style="min-width:300px;"
          >
            <template v-slot:append>
              <q-icon
                :name="isPwd ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="isPwd = !isPwd"
              />
            </template>
          </q-input>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 flex flex-center">
          <q-input v-model="f_name" outlined label="ชื่อ" style="min-width:300px;" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 flex flex-center">
          <q-input v-model="l_name" outlined label="นามสกุล" style="min-width:300px;" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 flex flex-center">
          <q-input
            v-model="tel"
            outlined
            type="tel"
            mask="##########"
            label="เบอร์โทร"
            style="min-width:300px;"
          />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 flex flex-center">
          <q-input v-model="age" outlined mask="###" label="อายุ" style="min-width:300px;" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 flex flex-center">
          <q-input
            v-model="address"
            outlined
            type="textarea"
            label="ที่อยู่"
            style="min-width:300px;"
          />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 flex flex-center noto-thai-regular">
          <q-btn
            @click.native="createAccount()"
            label="สร้างบัญชี"
            :disable="username==''||password==''"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import firebase from "firebase";
import { Notify } from "quasar";
import { db } from "../main.js";

export default {
  data() {
    return {
      data: "",
      f_name: "",
      l_name: "",
      username: "",
      password: "",
      tel: "",
      age: "",
      address: "",
      isPwd: true
    };
  },
  firebase: {
    items: db.ref("items")
  },
  methods: {
    createAccount() {
      firebase
        .auth()
        .createUserWithEmailAndPassword(this.username, this.password)
        .then(
          user => {
            alert("success");
            this.addProfile(
              this.f_name,
              this.l_name,
              this.username,
              this.tel,
              this.age,
              this.address
            );
          },
          err => {
            alert(err);
          }
        );
      // this.$router.push('/index')
    },
    addProfile(firstname, lastname, username, tel, age, address) {
      firebase
        .firestore()
        .collection("items")
        .add({ firstname, lastname, username,  tel, age, address })
        .then(function(docRef) {
          console.log("Document written with ID: ", docRef.id);
        })
        .catch(function(error) {
          console.error("Error adding document: ", error);
        });
      this.$router.push("/login");
    },
    back() {
      this.$router.push("/login");
    }
  },
  mounted() {
    this.getProfile();
  }
};
</script>
