<template>
  <div>
    <div class="col-xs-12 col-sm-12 col-md-12 flex flex-center">
      <table width="100%" id="customers">
        <thead>
          <tr>
            <th>ชื่อ</th>
            <th>นามสกุล</th>
            <th>อายุ</th>
            <th>ที่อยู่</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="text-center" v-for="item in items" :key="item.id">
          <tr v-for="item in item.sub" :key="item.sku_id">
            <td class="text-center">{{item.firstname}}</td>
            <td class="text-left">{{item.lastname}}</td>
            <td class="text-left">{{item.age}}</td>
            <td class="text-left">{{item.address}}</td>
            <td>
              <q-btn label="Edit" @click="edit(item['.key'])"></q-btn>
              <router-link
                :to="{ name: 'Edit', params: {id: item['.key']} }"
                class="btn btn-warning"
              >Edit</router-link>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
import firebase from "firebase";
import { db } from "../main.js";
export default {
  data() {
    return {
      items: []
    };
  },
  methods: {
    edit(id) {}
  },
  firebase: {
    items:db.ref('items')
  },
};
</script>