<template>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 flex flex-center">
      <q-img
        :src="'statics/app-logo-128x128.png'"
        spinner-color="white"
        style="max-width: 128px;margin:80px"
      />
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 flex flex-center">
      <q-input
        outlined
        v-model="username"
        type="email"
        label="Email"
        style="max-width:50%"
        :dense="dense"
        @keyup.enter="focuspass()"
      />
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 flex flex-center" style="padding:15px 0px">
      <q-input
        outlined
        ref="password"
        v-model="password"
        label="Password"
        type="password"
        style="max-width:50%"
        :dense="dense"
        @keyup.enter="submit()"
      />
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 flex flex-center" style="padding:20px 0px">
      <q-btn
        :loading="loading3"
        :percentage="percentage3"
        @click.native="submit()"
        color="primary"
        style="max-width:50%"
        label="Sign In"
      />
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 flex flex-center" style="padding:5px">
      <span>ยังไม่ได้สมัคร&nbsp</span>
      <a href="/#/create_account">กดที่นี่</a>
    </div>
  </div>
</template>

<script>
import firebase from "firebase";
import { db } from "../main";
import axios from "axios";
export default {
  data() {
    return {
      username: "",
      password: ""
    };
  },
  methods: {
    // signin() {
    //   axios
    //     .post(emailSignin, {
    //       email: this.username,
    //       password: this.password
    //     })
    //     .then(
    //       response => {
    //         setTimeout(() => {
    //           this.$router.push("/");
    //         }, 1000);
    //       },
    //       error => {
    //         this.$q.notify({
    //           position: "bottom-right",
    //           timeout: 500,
    //           color: "red",
    //           textColor: "white",
    //           message:
    //             "บัญชีหรือรหัสของผู้ใช้งานไม่ถูกต้อง กรุณาลองใหม่อีกครั้ง"
    //         });
    //       }
    //     );
    // },
    focuspass() {
      this.$refs.password.$el.focus();
    },
    submit() {
      firebase
        .auth()
        .signInWithEmailAndPassword(this.username, this.password)
        .then(firebaseUser => {
          // console.log(firebaseUser);
          this.$router.push("/");
        })
        .catch(error => {});
    }
  },
  mounted() {
    console.log("ssss");
  }
};
</script>

<style>
header1 {
  display: table;
  width: 50%;
  max-width: 100%;
}
header1 div {
  display: table-row;
  line-height: 2em;
  font-size: 1.6em;
  white-space: nowrap;
}
header1 h1 {
  font-size: inherit; /* Change font-size in header */
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
  width: 1px;
  table-layout: fixed;
}
header1 span.spacer {
  display: table-cell;
}
header1 h1 {
  padding: 0px 20px;
}
header1 span.spacer:after {
  display: inline-block;
  width: 100%;
  content: ".";
  font-size: 0;
  color: transparent;
  height: 2px;
  background: #000;
  vertical-align: middle;
  position: relative;
  top: 25px;
}
</style>
