<template>
  <div>
    <div class="row q-pa-md">
      <div class="row col-xs-12 col-sm-12 col-md-12 flex flex-center q-gutter-md">
        <div class="col-xs-12 col-sm-12 col-md-12 flex flex-center noto-thai-regular">
          <q-btn flat round @click="back()" icon="arrow_back_ios" /><span style="font-size:22px;padding:15px">ข้อมูลส่วนตัว</span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 flex flex-center noto-thai-regular">
          <q-input v-model="f_name" label="ชื่อ" style="min-width:300px;" disable />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 flex flex-center noto-thai-regular">
          <q-input v-model="l_name" label="นามสกุล" style="min-width:300px;" disable />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 flex flex-center noto-thai-regular">
          <q-input v-model="tel" label="เบอร์โทร" style="min-width:300px;" disable />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 flex flex-center noto-thai-regular">
          <q-input v-model="age" label="อายุ" style="min-width:300px;" disable />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 flex flex-center noto-thai-regular">
          <q-input v-model="address" label="ที่อยู่" style="min-width:300px;" disable />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 flex flex-center noto-thai-regular">
          <q-btn @click.native="save" label="อัพเดตโปรไฟล์" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { Notify } from "quasar";

export default {
  data() {
    return {
      data: ""
    };
  },
  methods: {
    save() {
      
    },
    getProfile() {
      
    },
    back(){
      this.$router.push("/")
    }
  },
  mounted() {
    this.getProfile();
  }
};
</script>
